* {
  padding: 0;
  margin: 0;
}
body {
  background: #cc9fb3;
  background: radial-gradient(
    circle,
    rgba(204, 159, 179, 1) 9%,
    rgba(148, 187, 233, 1) 100%
  );
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  gap: 30px;
}

.quote {
  background-color: rgb(234, 207, 237);
  text-align: center;
  padding: 20px;
  font-size: 20px;
  border-radius: 25px;
  box-shadow: 5px -3px 14px 0px rgba(255, 192, 192, 0.7);
}
button {
  font-size: medium;
  margin-top: 20px;
  padding: 10px 30px;
  background-color: #aa8cd6;
  color: white;
}
button:hover {
  background-color: #7786b6;
  transform: translateY(-2px);
}
